<div class="container-lg"  style="min-height: 848px;">
    <div id="content-window" class="d-flex flex-column align-items-center justify-content-center">
        <ngb-carousel class="mt-4" #carousel [interval]="8000" [animation]="false" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus" (slide)="onSlide($event)">
            <ng-template ngbSlide *ngFor="let img of images; index as i">
                <div class="carousel-caption">
                    <div class="d-flex justify-content-center w-100 mt-4">
                        <a class="btn btn-primary" style="width: 200px;" routerLink="../restaurants">Order Food!</a>
                    </div>
                </div>
                
                <img class="img-fluid" [src]="img" alt="My image {{i + 1}} description">
            </ng-template>
        </ngb-carousel>

        

        <div class="d-flex flex-column align-items-center justify-content-center w-100 mt-4">
            <h4>Testimonials</h4>
            <div class="row">
                <div class="col-md-4">
                    <p class="text-center">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fermentum sed velit at interdum. 
                        Pellentesque mattis fermentum viverra. Etiam interdum, risus eget porta iaculis, felis quam sagittis est, ac ornare 
                        ipsum nunc non massa. Donec dapibus sem non purus rutrum.
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="text-center">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fermentum sed velit at interdum. 
                        Pellentesque mattis fermentum viverra. Etiam interdum, risus eget porta iaculis, felis quam sagittis est, ac ornare 
                        ipsum nunc non massa. Donec dapibus sem non purus rutrum.
                    </p>
                </div>
                <div class="col-md-4">
                    <p class="text-center">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fermentum sed velit at interdum. 
                        Pellentesque mattis fermentum viverra. Etiam interdum, risus eget porta iaculis, felis quam sagittis est, ac ornare 
                        ipsum nunc non massa. Donec dapibus sem non purus rutrum.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
