<div class="container-lg">
    <div id="return-holder" class="row m-1">
        <a routerLink="../">Back</a>
    </div>
    <div class="row">
        <div class="justify-content-center">
        <div class="align-content-center justify-content-center p-3">
            <div >
                <p>User: </p>
                <p>Loyalty Points: 0</p>
                <p>User Information: </p>
                <p><a class="nav-link" routerLink="user-history">Order History</a></p>
                
            </div>
        </div>
</div>


</div>
</div>