<div class="card mt-3 mb-3">
    <div class="card-header">
        <h6>{{data.name}} - {{data.price | currency}}</h6>
    </div>
    <div class="card-body">
        <div class="d-flex w-100 align-items-center">
            <img class="img-fluid" style="max-height: 100px;" src="https://upload.wikimedia.org/wikipedia/commons/4/47/Hamburger_%28black_bg%29.jpg"/>
            <div class="flex-fill"></div>
            <button type="button" class="btn-close" aria-label="delete item" (click)="removeItem()"></button>
        </div>
    </div>


    <!-- 
        lakesidelease@macdonald/companies.com
     -->